$min-width: 480px;
$max-width: 1200px;
$base-bg: #FFF;
$base-fz: 16px;
$base-lh: 1.42;
$base-ff: 'Roboto', sans-serif;
$custom-ff: 'Playfair Display', serif;

$default-transition:all 0.2s linear;

$mobile-width: $min-width;
$tablet-width: 768px;
$desktop-width: 992px;


/* main variables */

//text, titles
$text-color: #000;
$title-color: #000;
$title-ff: $custom-ff;
$custom-color: #ffae01;
$link-color: #100da9;

$font-size-h1: 36px;
$line-height-h1: 42px;
$font-size-h2: 32px;
$line-height-h2: 37px;
$font-size-h3: 28px;
$line-height-h3: 32px;
