* {
  box-sizing:border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  min-width: $min-width;
  font-size: $base-fz;
  font-family: $base-ff;
  line-height: $base-lh;
  color: #fff;
  -webkit-font-smoothing: antialiased;
}

.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100%;
  min-height: 100vh;
}

.container {
  position: relative;
  margin: 0 auto;
  max-width: 720px;
  padding: 0 20px;
  overflow: hidden;

  @include sm {
    max-width: 960px;
  }

  @include md {
    max-width: 1170px;
    padding: 0 30px;


    &--bg {
      background-image:url('../img/section-md-about.png'), linear-gradient(30deg, #2c2828 0%, #141313 100%);
      background-repeat: no-repeat, repeat;
      background-size: contain,cover;
      background-position: right center, center;
    }

    &--bg-center {
      background-image:url('../img/md-bg--center.png');
      background-repeat: no-repeat;
      background-size: 120%;
      background-position: 50% 56%;
    }
  }
}

header{
  flex: 0 0 auto;
}

main {
  flex: 1 0 auto;
}

footer {
  flex: 0 0 auto;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: normal;
}

li {
  list-style: none;
}

ul {
  padding: 0;
  margin: 0;
}

a {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  &:hover {
    text-decoration: none;
  }
}

img {
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
  border: none;
}


/* Libs */
@import "../_libs/slick.scss";
@import "../_libs/modal-video.scss";


/* Blocks */
@import "../_blocks/_global.scss";
@import "../_blocks/_svg-icon.scss";
@import "../_blocks/_page-header.scss";
@import "../_blocks/_logo.scss";
@import "../_blocks/_phone.scss";
@import "../_blocks/_menu.scss";
@import "../_blocks/_page-btn.scss";
@import "../_blocks/_brand.scss";
@import "../_blocks/_features.scss";
@import "../_blocks/_section.scss";
@import "../_blocks/_about.scss";
@import "../_blocks/_page-form.scss";
@import "../_blocks/_gallery.scss";
@import "../_blocks/_company.scss";
@import "../_blocks/_slider.scss";
@import "../_blocks/_specification.scss";
@import "../_blocks/_benefits.scss";
@import "../_blocks/_page-footer.scss";




