* {
  box-sizing:border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  min-width: $min-width;
  font-size: $base-fz;
  font-family: $base-ff;
  line-height: $base-lh;
  color: #fff;
  -webkit-font-smoothing: antialiased;
}

.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100%;
  min-height: 100vh;
}

.container {
  position: relative;
  margin: 0 auto;
  max-width: 640px;
  padding: 0 20px;
  overflow: hidden;
}

header{
  flex: 0 0 auto;
}

main {
  flex: 1 0 auto;
}

footer {
  flex: 0 0 auto;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: normal;
}

li {
  list-style: none;
}

ul {
  padding: 0;
  margin: 0;
}

a {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  &:hover {
    text-decoration: none;
  }
}

img {
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
  border: none;
}

/* Libs */
@import "../_libs/slick.scss";
@import "../_libs/modal-video.scss";


/* Blocks */
@import "../_blocks/_global.scss";
@import "../_blocks/_svg-icon.scss";
@import "../_blocks/_page-header.scss";
@import "../_blocks/_logo.scss";
@import "../_blocks/_phone.scss";
@import "../_blocks/_menu.scss";
@import "../_blocks/_brand.scss";
@import "../_blocks/_features.scss";
@import "../_blocks/_about.scss";
@import "../_blocks/_page-form.scss";
@import "../_blocks/_gallery.scss";
@import "../_blocks/_company.scss";
@import "../_blocks/_slider.scss";
@import "../_blocks/_benefits.scss";
@import "../_blocks/_page-footer.scss";




