/* Global classes */
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.hidden {
  display: none;
}

  label.error {
    display: block;
    bottom: 20px;
    position: relative;
    font-size: 14px;
    font-style: italic;
    font-family:$base-ff;
    color: red;
    text-transform: uppercase;
  }

.page-title {
  font-family:$custom-ff;
  font-size: 28px;
  font-weight: 700;
  text-transform: uppercase;

  @include sm {
    order:2;
    font-size: 30px;
    text-align: left;
    flex-basis: 100%;
    padding-bottom: 50px;
  }

  @include md {
    font-size: 45px;
  }
}

.page-subtitle {
  position: relative;
  color: #e9e7e7;
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;

  &:after {
    content: "";
    position: absolute;
    display: block;
    left: 51%;
    top: 32px;
    transform:translateX(-50%);
    width: 30px;
    height: 2px;
    background-color: $custom-color;
  }

  @include sm {
    padding-left: 40px;
    &:after {
      top: 50%;
      left: 0px;
      transform:translate(0%,-50%);
    }
  }
}


.reviews {

  text-align: center;
  @include md {
    text-align: left;
  }
}
/* JS settings */

.note {
  display: none;
  font-size: 24px;
  font-family: "Playfair Display",serif;
  font-weight: bold;
  text-align: center;
  color: #000;
}

.overlay {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .7);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
}

.popup {
  display: none;
  z-index: 100;
  position: fixed;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  background: #fff;
  min-width: 320px;
  margin: 0 auto;
  padding: 20px 40px;
  border-radius: 25px;

  .page-btn {
    text-align: center;
  }

  @include sm {
    min-width: 560px;
    padding: 40px;
    top: 50px;
  }

  @include md {
    max-width: 560px;
    top: 100px;
  }
}

.popup-close {
  cursor: pointer;
  position: absolute;
  width: 30px;
  height: 30px;
  top: 15px;
  right: 15px;
  z-index: 10;
  background: transparent;
  border:0;
  outline: none;

  &::before,
  &::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 15%;
    width: 100%;
    height: 2px;
    background: #000;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }

  &:active {

    &::before,
    &::after {
      background: rgba(#000,0.5);

    }
  }

}


.to-top-btn {
  position: fixed;
  bottom: 50px;
  right: 20px;
  font-size: 0;

  svg g {
     fill: $custom-color;
  }



}
