.menu {
  margin-left: auto;


  &__toggler {
    position: relative;
    z-index: 10;
    background-color: transparent;
    font-size: 0;
    margin-top: 26px;
    width: 22px;
    height: 22px;

    &:before {
      position: absolute;
      content: "";
      top: 0px;
      left: 0px;
      width: 22px;
      height: 2px;
      background-color: #fff;
      box-shadow:
        0 5.5px 0 0 #fff;
      transition: all 0.3s;
    }

    &:after {
      position: absolute;
      content: "";
      top: 11px;
      left: 0px;
      width: 22px;
      height: 2px;
      background-color: #fff;
      box-shadow:
        0 5.5px 0 0 #fff;
      transition: all 0.3s;

    }
  }

  &__list {
    display: none;
    position: absolute;
    z-index: 9;
    padding-top: 50px;
    top: 0;
    left:0;
    width: 135%;
    height: 70vh;
    background-color: rgba(#2f2b2b, 0.9);
  }

  &__link {
    display: block;
    padding: 5px;
    font-family: $base-ff;
    font-size: 15px;
    line-height: 30px;
    font-weight: 400;

    &:hover {
      font-weight: 700;
      background-color: rgba(#fff, 0.5);
    }
  }


  &__link--active {
    font-weight: 700;
  }



}


.js-menu-toggler--active {

  &:before {
    top: 11px;
    transform: rotate(45deg);
    box-shadow: none;
  }

  &:after {
    transform: rotate(-45deg);
    box-shadow:none;
  }
}
