.page-footer {
  padding: 34px 0;
  background-color: #111010;

  &__inner {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  &__phone {
    flex: 1 1 auto;
    text-align: center;
  }

  &__menu {
    flex-basis: 100%;
  }

  &__list {
    display: flex;
    justify-content: space-between;

  }

  &__menu-link {
    color: #eee;
    font-family: $base-ff;
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
  }

  @include sm {
    &__inner {
      flex-wrap: nowrap;
    }

    &__logo {
      margin-right: 70px;
    }

    &__list {
      justify-content: flex-start;
    }

    &__menu-item {
      margin-right: 40px;
    }

    &__menu-link {
      font-size: 16px;
      font-family: $base-ff;
    }

    &__phone {
      display: none;
    }
  }

  @include md {

    &__inner {
      justify-content: space-between;
    }

    &__logo {
      min-width: 124px;
    }
  }
}
